/* Hide the normal Soliloquy area by default
------------------------------------------------------------ */

.soliloquy-upload-text, 
#soliloquy-upload, 
#soliloquy-images,
.soliloquy-fc-create {
	display: none;
}

#soliloquy-slider-type {
	display: block !important;
}


/* Featured content styles
------------------------------------------------------------ */

#soliloquy-fc-query th,
#soliloquy-fc-content th {
	width: 350px;
}

.soliloquy-fc-create .soliloquy-fc-title {
	margin-bottom: 0 !important;
}

.soliloquy-fc-create select {
	width: 325px;
}

.soliloquy-fc-create #soliloquy-fc-choose-query {
	width: 125px;
}

.soliloquy-fc-step.first-step {
	margin-top: 0;
}

.soliloquy-fc-step .chzn-container,
.soliloquy-fc-step input[type="checkbox"] {
	vertical-align: middle;
}

.soliloquy-fc-create .chzn-container-multi .chzn-choices .search-field input {
	height: 21px;
}

.soliloquy-fc-create .chzn-results li {
	text-shadow: none;
}

.soliloquy-fc-step .hide-post-type,
.soliloquy-fc-step .display-post-type.result-selected {
	display: none !important;
}