/* builder block admin css
*******************************************************/
#sub-tab-builder-content .sub-tab-notice a {
	background: #ddd;
	color: #444;
}

#sub-tab-builder-content .sub-tab-notice a.active {
	background: #fff;
	border: 1px solid #ccc;
}

#sub-tab-builder-content div.input-textarea div.textarea-container textarea {
	background: #eee;
	border: 1px solid #ccc;
	color: #333;
}

#builder-wrapper {
	border: 1px solid #ccc;
	background: #fff;
}

#builder-info h2 {
	color: #333;
}

body #builder-info .intro {
	color: #666;
}

#builder-info p {
	color: #777;
}