
 
.panel-row-style-highlight.panel-row-style{
  padding:100px 20px; 
  background: #2843A0; 

}
.layout-full .panel-row-style-highlight .entry-content p{
  color: #FFF;
   background: #2843A0; 
}
 {
.panel-grid .panel-row-style-highlight .entry-content p{
  color: #FFF;
   background: #2843A0; 
}


/* grid-4 Columns */
.panel-row-style-grid-4 .post
 {
  display:inline-block;
  width: 20%;
  padding: 1%;
  margin:0 1%;
  display: inline-block;
  vertical-align: top;
  min-height: 180px;
  border-top: 1px solid #EEE;
}

/* grid-3 Columns */
.panel-row-style-grid-3 .post
 {
  display:inline-block;
  width: 29%;
  padding:1%;
  margin:0 1%;
  display: inline-block;
  vertical-align: top;
  min-height: 180px;
}

/* grid-2 Columns */
.panel-row-style-grid-2 .post
 {
  display:inline-block;
  width: 45%;
  padding: 1%;
  margin:0 1%;
  display: inline-block;
  vertical-align: top;
  min-height: 180px;
}


@media (max-width:980px){
.panel-row-style-grid-4 .post{
width: 29%;


}
@media all and (max-width:900px){
	.panel-row-style-grid-3 .post,.panel-row-style-grid-4 .post{
	width: 45%;

}
@media all and (max-width:580px){
	.panel-row-style-grid-2 .post,.panel-row-style-grid-3 .post,.panel-row-style-grid-4 .post {
	width: 90%;
}

} }}


.panel-row-style-grid-2 .entry-title,.panel-row-style-grid-3 .entry-title,.panel-row-style-grid-4 .entry-title {font-size: 100%;line-height: 120%;}
.panel-row-style-grid-2 .post p,.panel-row-style-grid-3 .post p,.panel-row-style-grid-4 .entry-content p{
	font-size: 80%;
	font-family: sans-serif; 
	font-weight: 300; 
  
}